@use './vars';

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Regular.otf');
}
body {
  margin: 0;
  font-family: "Manrope", Arial,sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

